body{
  background-color: #f0f261;
  overflow-x: hidden;
}

.header{
  color: #e6671e;
  position: relative;
  left: 220px;
  top: 50px;
}

#label{
  color: #e6671e;
}

#exampleInputEmail1{
  position: relative;
  top: 30px;
  height: 60px;

}

#card{
  position: relative;
  top: 50px;
}

.header2{
  color: #e6671e;
  position: relative;
  left: 440px;
  top: 120px;
}
